body {
    background: #E8B4B8;
  
    background: linear-gradient(
      90deg,
      #E8B4B8 0%,
      #EED6D3 60%,
      #67595E 100%
    );
  
    background: -moz-linear-gradient(
      90deg,
      #E8B4B8 0%,
      #EED6D3 60%,
      #67595E 100%
    );
  
    background: -webkit-linear-gradient(
      90deg,
      #E8B4B8 0%,
      #EED6D3 60%,
      #67595E 100%
    );
  
    background-repeat: no-repeat;
    height: 100vh;
  
    font-family: "Roboto", sans-serif;
  }
  
  .weather-app {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  a {
    color: #f2f4f8;
    text-decoration: none;
  }
  
  header {
    border-bottom: 1px solid #E8B4B8;
    padding: 0 0 30px 0;
  }
  
  .search-form-input {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: #ffffff;
    width: 80%;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 15px 20px;
  }
  
  .search-form-button {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: #ffffff;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    margin-left: 5px;
  }
  
  main {
    padding: 30px 0;
  }
  
  .weather-app-data {
    display: flex;
    justify-content: space-between;
  }
  
  .weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    color: white;
  }
  
  .weather-app-details {
    font-size: 16px;
    line-height: 24px;
    color: rgba(39, 33, 66, 0.7);
    font-weight: 500;
  }
  .weather-app-details strong {
    color: #E8B4B8;
  }
  
  .weather-app-temperature-container {
    display: flex;
  }
  
  .weather-app-icon {
    width: 88px;
    height: 88px;
  }
  
  .weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    color: #ffffff;
  
    line-height: 88px;
  }
  
  .weather-app-unit {
    font-size: 28px;
    margin-top: 6px;
    color: #ffffff;
  }
  
  footer {
    border-top: 1px solid #E8B4B8;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color:#67595E;
  }
  